%article#page--top
  .container
    .row
      %form{:id => "form",:class => "serch", :action => "store/search", :method => "get", :placeholder => "æ¤œç´¢"}
        %input{:id => "input exampleInputEmail1", :name => "word", :size => "40",class: 'col-form-label form-control'}
        %input{:id => "submit exampleInputEmail1", :type => "submit", :value => "ðŸ”", class: 'btn-primary'}
      %a{:href => 'store/detailSerch'}è©³ç´°æ¤œç´¢
